six
# 3.1.2 imports Mapping from collections and fails on Python 3.10+
robotframework>=3.2.2,<4
robotframework-lint>=1.1,<2
grpcio
decorator
attrs
parsy
device-management-interface>=0.9.1
voltha-protos>=4.0.13
